
# api token is required for the team inbox. 
# it seems a user token won't work for this.
API_TOKEN = '???'

# user token is required for streaming.
# an api token can't use the rest api or streaming
USER_TOKEN = '???'
